{{define "title"}}About{{end}}

{{define "content"}}
<div class="about-container">
    <h2>About</h2>
    <br />
    <p><b>plain.do</b> is a tool to create simple TODO lists in your browser. The main features are:</p>
    <br/>
    <p>
        <ul>
            <li>Lists are created upon visiting the site.</li>
            <li>Lists are assigned a unique hash that can be later used to retrieve them.</li>
            <li>Lists that are inactive for more than a week will be deleted.</li>
            <li>Lists can be edited by anyone that has access to them.</li>
            <li>Lists are updated in real time to everybody.</li>
        </ul>
    </p>
    <br/>
    <p>This was built while fighting with my cats over keyboard ownership.</p>
    <br/>
    <p>This was built using HTMX, Go and sqlite.</p>
    <br/>
    <p>This can be easily DDoSed by just visiting it, since it creates a new database entry for each visit. Please don't. If you do, I'll just recreate the database, I don't want to write any complex anti DDoS logic. If you keep doing it, I'll just be sad, move this to my VPN, and keep it just for personal use. Please don't.</p>
    <br/>
    <p>The source code can be found at: <a href="https://github.com/yugarinn/plain.do" rel="noopener" target="_blank">https://github.com/yugarinn/plain.do</a>.</p>
    <p>You can tell me my Go code sucks, but please tell me why.</p>

    <br />
    <br />

    <h2>Shortcuts</h2>
    <br />
    <ul>
        <li><b>Ctrl + Shift + N</b>: focuses the new task input.</li>
        <li><b>Ctrl + Shift + D</b>: deletes the focused task.</li>
        <li><b>Ctrl + Shift + Space</b>: toggles the focused task status.</li>
        <li><b>Ctrl + Shift + Arrow Up</b>: focuses the previous task.</li>
        <li><b>Ctrl + Shift + Arrow Down</b>: focuses the next task.</li>
    </ul>
</div>
{{end}}
