{{define "base"}}
<!DOCTYPE html>

<html>
<head>
    <title>plain.do - {{block "title" .}}{{end}}</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="icon" href="/static/favicon.svg" />
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{block "content" .}}{{end}}

    <p class="info-container">
        <a href="/about">about</a>
        <a href="https://github.com/yugarinn/plain.do" rel="noopener" target="_blank">source code</a>
    </p>

    <script src="/static/htmx.js"></script>
    <script src="/static/ws.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
{{end}}
